# IDE - Android Studio
.idea/
*.iml
*.iws
*.ipr
.gradle/
/local.properties

# Build Output
/build/
/*/build/
bin/
gen/

# Log Files
*.log

# Android Specific
/captures/
.externalNativeBuild/
.cxx/

# OS Specific (Mac/Windows)
.DS_Store
Thumbs.db